# Dependencies
node_modules

# Next.js build output
.next
out

# Environment variables
.env
.env.local
.env.production.local
.env.development.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# IDE
.vscode
.idea
